include dash_emoji_mart/dash_emoji_mart.min.js
include dash_emoji_mart/dash_emoji_mart.min.js.map
include dash_emoji_mart/async-*.js
include dash_emoji_mart/async-*.js.map
include dash_emoji_mart/*-shared.js
include dash_emoji_mart/*-shared.js.map
include dash_emoji_mart/metadata.json
include dash_emoji_mart/package-info.json
include README.md
include LICENSE
include package.json
