arrow==1.3.0
binaryornot==0.4.4
blinker==1.7.0
cachelib==0.9.0
cfgv==3.4.0
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cookiecutter==2.6.0
dash==2.16.1
dash-core-components==2.0.0
dash-emoji-mart==0.0.2
dash-extensions==1.0.14
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-leaflet==1.0.15
dash-mantine-components==0.12.1
dash-table==5.0.0
dataclass-wizard==0.22.3
distlib==0.3.8
environ==1.0
filelock==3.13.4
docutils==0.20.1
EditorConfig==0.12.4
Flask==3.0.3
Flask-Caching==2.1.0
full-calendar-component==0.0.3
identify==2.5.35
idna==3.7
importlib_metadata==7.1.0
itsdangerous==2.1.2
jaraco.classes==3.4.0
jaraco.context==5.1.0
jaraco.functools==4.0.0
Jinja2==3.1.3
jsbeautifier==1.15.1
keyring==25.1.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
more-itertools==9.1.0
nest-asyncio==1.6.0
nh3==0.2.17
packaging==24.0
pkginfo==1.10.0
platformdirs==4.2.0
plotly==5.20.0
Pygments==2.17.2
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytz==2024.1
PyYAML==6.0.1
readme_renderer==43.0
requests==2.31.0
requests-toolbelt==1.0.0
retrying==1.3.4
rfc3986==2.0.0
rich==13.7.1
six==1.16.0
tenacity==8.2.3
text-unidecode==1.3
twine==5.0.0
types-python-dateutil==2.9.0.20240316
typing_extensions==4.11.0
urllib3==2.2.1
virtualenv==20.25.1
Werkzeug==3.0.2
zipp==3.18.1
